:root{
    ---primary-color:#14151C;
    ---main-font-color: #FFFFFF;
    ---text-font-color:#B3B6C2;
    ---yellow-color:#E0F014;
    --hover-color:#FDFEF7;

    --font-52: 52px;
    --font-18: 18px;
    --font-20: 20px;
    --font-14: 14px;
    --font-48: 48px;
    --font-32: 32px;
    --font-24: 24px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Instrument Sans", sans-serif;
    background-color: var(---primary-color);
    color: var(---main-font-color);
}
.top-nav{
    background-color: var(---yellow-color);
    transition: 0.4s;
    
}
.navbar-toggler{
background-color: var(---text-font-color);
}
.top-nav:hover{
    background-color: var(--hover-color);
}
.top-nav p{
    color: #14151C;
    font-size: 14px;
    font-weight: 500;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
ul li{
    margin: 0 10px;
}
.nav-link {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    color: var(---main-font-color);
}
.nav-link:hover{
    color: var(---yellow-color);
}
.btn{
    color: var(---main-font-color);
    border: 1px solid var(---main-font-color);
    border-radius: 0;
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s;
    background-color: transparent;
    padding: 10px 24px;
}
.btn:hover{
    background-color: var(--hover-color);
    color: var(---primary-color);
}
hr{
    color: rgba(175, 165, 165, 0.384);
}
.hero-content{
    max-width: 800px;
}
.text-capitalized{
    font-size: var(--font-14);
    font-weight: 600;
    border-bottom: 2px solid #fff;
    max-width: 260px;
}
.hero-content h1{
    font-size: var(--font-52);
    max-width: 700px;
}

.hero-text{
    color:var(---text-font-color);
    max-width: 600px;
    font-size: var(--font-18);
}
.hero-content a{
    background-color: var(---yellow-color);
    border: 0;
    color: var(---primary-color);
    font-weight: 500;
    font-size: var(--font-20);
}
.images img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(---yellow-color);
    margin: 0 2px;
}
.image-card {
    font-weight: 500;
}
.image-card .generate{
    font-size: var(--font-20);
    
}
.generate span{
    color: var(---yellow-color);
}
.image-card .image-text{
    color: var(---text-font-color);
    font-size: 16px;
    margin-top: -15px;
}
.video-text{
    font-size: var(--font-20);
    color: var(---text-font-color);
    font-weight: 600;
}
.front-video a{
    background-color: var(---yellow-color);
    color: var(---primary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-18);
  
}
.front-video a:hover{
    background-color: var(---text-font-color);
}
.card{
    border-radius:0 ;
    background-color: #272933;
    width: 100%;
    
}
.card h2{
    font-size: var(--font-48);
    color: var(---yellow-color);
    text-transform: uppercase;
}
.card h5{
    font-size: var(--font-18);
    color: var(---main-font-color);
    font-weight: 600;
}
.services .services-text, .work-text, .get-start .services-text{
    color: var(---yellow-color);
    font-size: var(--font-18);
    font-weight: 600;
}
.services h3, .get-start h3{
    font-size: var(--font-32);
}
.services p{
    font-size: var(--font-18);
    color: var(---text-font-color);
    font-weight: 500;
    text-align: left;
}
.services a, .process-card a{
    background-color: var(---yellow-color);
    border: 0;
    color: var(---primary-color);
    font-size: var(--font-18);
    font-weight: 600;
}
.card-body{
    text-align: left;
}
.card-body i{
    font-size: var(--font-48);
    margin-left: -10px;
}
h5.card-title{
    font-size: var(--font-24);
}
p.card-text{
    font-size: var(--font-18);
}

/* ------------------  */
.work{

   
    margin-bottom: 5rem;
}
.work-h3{
    font-weight: 600;
}
.swiper {
    width: 950px;
    height: 500px;
    background-color: transparent;

  }
  span.swiper-pagination-bullet{
    background-color: var(---main-font-color);

  } 
  .swiper-button-prev{
    margin-left: -10px;
    position: absolute;
  }
  .swiper-button-next{
    margin-right: -15px;
  }
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 12px;
    color: var(---main-font-color);
    background-color: var(---primary-color);
    opacity: 0.5;
    padding: 5px;
    border-radius: 100%;
}
.swiper-wrapper{
    
    
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width:600px){
    .swiper {
        display: none;
    }
  }
  /* -----------------  */
  .framer-card-left{
    background-color: var(---yellow-color);
    height: 80vh;
  }
  .framer-card-left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    image-rendering: auto;
    display: block;
  }
  .framer-card-right{
    background-color: #272933;
    height: 80vh;
  }
  .framer-card-right>p{
    color: var(---main-font-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(---yellow-color);
  }
  .framer-card-right>h3{
    color: var(---main-font-color);
    font-size: var(--font-32);
  }
  .framer-card-right>a{
   
    color: var(---yellow-color);
    font-size: var(--font-18);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
    
  }
  .framer-card-right>a:hover{
    color: #fff;
   border-bottom: 1px solid #fff;
  }
  p.number{
    font-size: var(--font-32);
    font-weight: 600;
    color: var(---yellow-color);
    
  }
  p.framer-p{
    margin-top: -20px;
    font-size: var(--font-18);
    font-weight: 500;
    color: var(---main-font-color);
  }
  /* -------------  */
  .process, .testimonial, .faq, .end, footer{
    margin-top: 120px;
  }
 .process-card{
    max-width: 850px;
    height: auto;
    background-color: #272933;
 }
 .process-card h5{
    font-size: var(--font-24);
    color: var(---yellow-color);
    font-weight: 600;

 }
 .process-text{
    font-size: var(--font-18);
    color: var(---text-font-color);
    font-weight: 500;
 }
 .process-card a{
    font-weight: 500;
    font-size: var(--font-20);
 }
 .process-card a:hover{
    background-color: var(---yellow-color);
 }
 /* -------------  */
 .testimonial-card{
    background-color: #272933;
    margin:  0 5px;
    height: auto;
 }
 .stars i{
    color: var(---yellow-color);
    font-size: var(--font-20);
    margin:  0 2px;
 }
 .testimonial-card h3{
    font-size: var(--font-24);
 }
 hr{
    background-color: rgba(90, 90, 141, 0.678);
 }
 .name{
    font-size: var(--font-20);
    color: var(---main-font-color);
    font-weight: 600;
 }
 .decs{
    margin-top: -20px;
    font-size: var(--font-20);
    color: var(---text-font-color);
    font-weight: 500;
 }
 .faq-card{
    max-width: 800px;
 }
 /* =-=-=-=-=--------- */
 .accordion-item {
    background-color: transparent;
    
 }
  .faq-header a{
    font-size: var(--font-18);
    text-decoration: none;
    color: var(---main-font-color);
    font-weight: 600;
 }
 .faq-header i{
    color: var(---main-font-color);
    font-size: var(--font-24);
    font-weight: 700;
    transition: 0.4s;
 }
 .faq-body{
    background-color: var(---main-font-color);
 }
 .faq-body p{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    padding: 10px 15px;
 } 
#accordion{
    margin-bottom: 150px;
}
/* ----------------  */

.end-container{
    background-color: #272933;
}
.end h2{
    font-size: var(--font-48);
    font-weight: 700;
}
.end h1{
    font-size: 60px;
}
.end h1 span{
    color: var(---yellow-color);
    font-weight: 700;
}
.end p{
    color: var(---text-font-color);
    font-size: var(--font-18);
    font-weight: 500;
    
}
.end a{
    text-decoration: none;
    color: var(---primary-color);
    font-size: var(--font-24);
    font-weight: 500;
    background-color: var(---yellow-color);
    display: block;
    padding: 35px;
    transition: 0.4s;
}
.end a:hover{
    background-color: var(---text-font-color);
    
}
/* -------------------------- */
.animation-slider{
    height: 300px;
    max-width: 100%;
    background-color:transparent;
    overflow: hidden;
    position: relative;
    margin: 10% 0;
  }
  
  .animation-slider div {
    display: flex;
    gap: 15px;
    width: 200%;
    height: 300px;
    
    position: absolute;
    overflow: hidden;
  
    animation: marquee 20s linear infinite;
  }
  
  .marque img , .marque2 img{
    float: left;
    background-color: #E0F014;
    padding: 30px;
    object-fit: cover;
    
    
  }
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

  .animation-slider2{
    height: 300px;
    max-width: 100%;
    background-color:transparent;
    overflow: hidden;
    position: relative;
    
    margin-top: -100px;
  }
  .animation-slider2 div {
    display: flex;
    gap: 15px;
    width: 200%;
    height: 300px;
    position: absolute;
    overflow: hidden;
    animation: marquee2 10s linear infinite;

    
  }
  @keyframes marquee2 {
    0% { right: 0; }
  100% { right: -100%; }
  }
/* ---------------------  */

.profile-schedule img{
    width: 60px;
    height: 60px;
    object-fit: cover;
   border-radius: 100%;
    border: 1px solid var(---yellow-color);
    float: left;
}
.right-text h5{
    color: var(---main-font-color);
    font-size: var(--font-20);
    font-weight: 600;
  
}
.right-text p{
    font-size: var(--font-18);
    font-weight: 500;
    color: var(---text-font-color);
}
.get-start .p{
    color: var(---text-font-color);
    font-size: var(--font-18);
    font-weight: 500;
}
li{
    list-style-type: none;
}
li i{
    float: left;
    font-size: var(--font-32);
}
li p{
    font-size: var(--font-18);
    font-weight: 500;
    color: var(---text-font-color);
}
.calendly-inline-widget{
    background-color: #272933;
    height: 90vh;
    max-width: 700px;

}
/* --------------  */
footer h2{
    font-size: var(--font-48);
    margin-top:-25px;
}
footer p{
    width: 400px;
    
}
footer a{
    color: var(---main-font-color);
}
footer i{
    font-size: var(--font-24);
    margin: 0 10px;
}

/* ================================================================= */
@media(max-width:780px){
    :root{
     --font-52: 45px;
     --font-18: 16px;
     --font-20: 18px;
     --font-14: 14px;
     --font-48: 35px;
     --font-32: 28px;
     --font-24: 22px;
 
    }
    .animation-slider2{
     margin-top: -80px;
    
   }
   .end h1{
    font-size: 40px;
}



 }
    @media(max-width:580px){
     :root{
      --font-52: 38px;
      --font-18: 14px;
      --font-20: 16px;
      --font-14: 13px;
      --font-48: 30px;
      --font-32: 24px;
      --font-24: 20px;
  
     }
     .animation-slider2{
        margin-top: -40px;
       
      }
 }